
/* GENERAL */

:root {
    --num-rows: 17;
    --num-cols: 53;
    --cell-size: 1.6rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E7E7E7;
    color: #323332;
    font-family: 'Roboto', sans-serif;
    min-width: 768px;
}

li {
    list-style-type: none;
}

/* GENERAL - END */


/* NAVIGATION */

.header, .navbar {
    text-align: center;
}

.header {
    padding: 0.6rem 1rem 0.8rem;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    background-color: #F2C061;
    font-family: 'Oswald', sans-serif;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #424242;
    color: white;
    font-size: 1.1rem;
}

.option {
    display: inline-block;
    position: relative;
    padding: 1rem 1.2rem;
    min-width: 100px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.option:hover {
    background-color: #545454;
}

.option .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ababa9;
    display: none;
}
.option:hover .dropdown {
    display: initial;
}

.option .dropdown li {
    text-align: left;
    background-color: #545454;
    padding: 0.6rem 1.2rem;
}
.option .dropdown li:hover {
    background-color: #888888;
}

/* NAVIGATION - END */


/* CONTROL BOARD */

.control-board {
    padding: 1.5rem 3.2rem;
}

.control-board .algorithm-description {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.3rem;
}

.legend h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.item-list {
    display: flex;
    font-size: 0.9rem;
    align-items: center;
    flex-wrap: wrap;
}
.item-list li {
    margin: 0.5rem 1rem;
}

.item .desc {
    padding: 0.8rem;
    border: 1px solid #343b42;
    display: flex;
    align-items: center;
}

.item .desc .symbol {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
}

.item {
    transition: all 0.2s ease;
}
.item:not(:nth-of-type(5), :nth-of-type(6)):hover {
    cursor: pointer;
    background-color: #424242;
    color: white;
}

.start.symbol {
    background-image: url("./images/navigation.svg");
}
.item:hover .start.symbol {
    background-image: url("./images/navigation-hover.svg");
}
.target.symbol {
    background-image: url("./images/flag.svg");
}
.item:hover .target.symbol {
    background-image: url("./images/flag-hover.svg");
}
.weight.symbol {
    background-image: url("./images/anchor.svg");
}
.item:hover .weight.symbol {
    background-image: url("./images/anchor-hover.svg");
}
.wall.symbol {
    background-color: #888888;
}
.visited.symbol {
    /*background-color: #657ED4;*/
    background-color: #879FF1;
}
.shortest-path.symbol {
    background-color: #F2C061;
}


.find-path {
    cursor: pointer;
    border: 0;
    border-radius: 2rem;
    font-size: 1.1rem;
    padding: 1rem 2.3rem;
    background-color: #F2C061;
    letter-spacing: 0.1rem;
    transition: all 0.3s ease;
}
.find-path:hover {
    background-color: #eec57a;
    color: #232323;
}

/* CONTROL BOARD - END */


/* MAIN BOARD */

.grid {
    display: grid;
    grid-template-columns: repeat( var(--num-cols), var(--cell-size) );
    grid-template-rows: repeat( var(--num-rows), var(--cell-size) );
    column-gap: 2px;
    row-gap: 2px;
    height: calc( var(--num-rows) * var(--cell-size) + ( 2px * var(--num-rows) ) - 2px );
    width: calc( var(--num-cols) * var(--cell-size) + ( 2px * var(--num-cols) ) - 2px );

    margin: 3rem auto;
}

.cell {
    background-color: #dad5d5;
    /*background-color: #c9c9c9;*/
    /*border-radius: 50%;*/
}

.cell.wall:after, .cell.wall-hover:after,
.cell.weight:after, .cell.weight-hover:after,
.cell.start:after, .cell.start-hover:after,
.cell.target:after, .cell.target-hover:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
}

.cell.start:after, .cell.start-hover:after {
    background-image: url("./images/navigation.svg");
}

.cell.target:after, .cell.target-hover:after {
    background-image: url("./images/flag.svg");
}

.cell.wall:after, .cell.wall-hover:after {
    background-color: #888888;
}

.cell.weight:after, .cell.weight-hover:after {
    background-image: url("./images/anchor.svg");
}

.cell.visited {
    background-color: #879FF1;
}

.cell.path {
    background-color: #F2C061;
}

@keyframes blink {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

.cell.start-hover:after, .cell.target-hover:after, .cell.weight-hover {
    animation-name: blink;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
}

/* MAIN BOARD - END */



/* CHANGE BOARD SIZE WITH WINDOW SIZE */

@media ( max-width: 1570px ) { :root { --num-cols: 47; } }

@media ( max-width: 1440px ) { :root { --num-rows: 15; --num-cols: 41; } }

@media ( max-width: 1400px ) { .control-board .algorithm-description, .grid { margin-top: 2rem; } }

@media ( max-width: 1280px ) { :root { --num-rows: 13; --num-cols: 39; } }

@media ( max-width: 1150px ) { :root { --num-cols: 33; } }

@media ( max-width: 1000px ) { :root { --num-rows: 11; --num-cols: 29; } }

@media ( max-width: 864px )  { :root { --num-cols: 27; } }

@media ( max-width: 805px )  { :root { --num-rows: 9; --num-cols: 25; } }



