:root {
  --num-rows: 15;
  --num-cols: 51;
  --cell-size: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board {
  padding: 50px 0;
  text-align: center;
}

.header {
  margin-bottom: 30px;
}

.find-path {
  margin: 20px 0;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--num-cols), var(--cell-size));
  grid-template-rows: repeat(var(--num-rows), var(--cell-size));
  column-gap: 1px;
  row-gap: 1px;
  height: calc( var(--num-rows) * var(--cell-size) + ( 1px * var(--num-rows) ) - 1px );
  width: calc( var(--num-cols) * var(--cell-size) + ( 1px * var(--num-cols) ) - 1px );

  margin: 0 auto;
  background: #AFD8F8;
  border: 1px solid #AFD8F8;
}

.cell {
  /*border: 1px solid #AFD8F8;*/
  background: white;
}

/*.cell.start, .cell.destination {*/
/* Make square look bigger */
/*box-shadow: 1px 0 red, 0 1px red, -1px 0 red, 0 -1px red,*/
/*            1px -1px red, 1px 1px red, -1px -1px red, -1px 1px red;*/
/*}*/


.cell.visited {
  background-color: darkcyan;
}

@keyframes blink {
  0%   { opacity: 1; }
  50%  { opacity: 0; }
  100% { opacity: 1; }
}

.cell.wall:after, .cell.wall-hover:after,
.cell.weight:after, .cell.weight-hover:after,
.cell.start:after, .cell.start-hover:after,
.cell.destination:after, .cell.destination-hover:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
}

.cell.wall:after, .cell.wall-hover:after {
  background-color: #343b42;
}

.cell.weight:after, .cell.weight-hover:after {
  background-image: url("./images/anchor.svg");
}

.cell.start:after, .cell.start-hover:after {
  background-image: url("./mouse-pointer.svg");
}

.cell.destination:after, .cell.destination-hover:after {
  background-image: url("./target.svg");
}

.cell.start-hover:after, .cell.destination-hover:after, .cell.wall-hover {
  animation-name: blink;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

.cell.path {
  background-color: yellow;
}
